<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to 213213123 <%= title %> You can buy with discount -50%</p>
  </body>
</html>


<body>
  <header>
      <a class="brand" href="booksells">Bookstore</a>
  </header>
  <main>
      <% var rootPath = './booksells'; %>
  </main>
</body>

</html>
